* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #041938;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
section {
  /* margin: auto;
  display: flex; */
}
.container {
  max-width: 500px;
  margin: auto;
  /* background-color: red; */
}
.head {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.hea {
  display: flex;
  align-items: center;
}
.close-btn {
  font-size: 25px;
  padding: 10px;
  background-color: #fff;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  border-radius: 100%;
}
.mid-page {
  padding: 20px;
  background-color: #fff;
  color: black;
}
.import {
  margin-bottom: 15px;
  font-weight: 600;
}
.enter {
  padding: 5px 15% 0px 0px;
  font-size: 13px;
  color: rgb(139, 141, 141);
  margin-bottom: 20px;
}
input {
  height: 100px;
}
