@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #041938;
  color: white;
  /* font-family: "Roboto"; */
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  /* font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
section {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* margin: auto; */
  margin-top: 60px;
}
.container {
  max-width: 450px;
  border: 1px solid rgb(104, 98, 98);
  margin: auto;
  border-radius: 10px;
}
.hea {
  align-items: center;
  display: flex;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #000d26;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* margin: 0px 20px 0px 20px; */
}
.close-btn {
  padding: 5px;
  font-size: 30px;
  background-color: #ff006c;
  display: flex;
  height: 18px;
  width: 18px;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.prefer {
  display: flex;
  justify-content: center;
  padding: 25px;
  background-color: #fff;
  color: rgb(54, 54, 54);
}
.choice {
  height: 400px;
  overflow-y: scroll;
  /* overflow-x: scroll; */
  background-color: white;
  border-radius: 10px;
  /* padding: 5px; */
}
.choose {
  display: flex;
  align-items: center;
  color: black;
  cursor: pointer;
  border: 1px solid #888;

  padding: 5px;
}
.choose:hover {
  background-color: rgb(231, 226, 226);
}
.choose img {
  width: 40px;
  height: 40px;
}
.wallet-case {
  height: 50px;
  width: 40px;
  display: flex;
  align-items: center;
  padding: 5px;
  /* box-shadow: 0px 0px 10px 5px #888; */
  box-shadow: 0 7px 12px 0 rgb(37 41 46 / 25%);
  border-radius: 10px;
}
.wallet-name {
  margin-left: 10px;
  font-size: 15px;
}
